/* Whole Page */
body {
    font-family: "Poppins", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #0d0d0d; /* Dark background */
    min-height: 100vh;
    color: #f1f1f1;
}

/* Main Title */
h1 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 30px;
}

/* Upload Form Box */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1a1a1a;
    padding: 25px 35px;
    border-radius: 12px;
    width: 350px;

    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease;
}

form:hover {
    transform: translateY(-3px);
}

/* File Input */
input[type="file"] {
    padding: 12px;
    background: #111;
    border: 2px solid #006eff;
    border-radius: 8px;
    color: #ccc;
    cursor: pointer;
}

/* Upload Button */
button {
    padding: 12px;
    background-color: #006eff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0051c7;
    transform: translateY(-2px);
}

/* Upload Message */
#message {
    margin-top: 20px;
    color: #0aff3f;
    font-size: 18px;
    font-weight: bold;
}

/* NEW FILE LIST SECTION BOX */
.file-section {
    margin-top: 40px;
    background: #1a1a1a;
    padding: 25px 35px;
    border-radius: 12px;
    width: 350px;

    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.7);
}

/* H2 inside the box */
.file-section h2 {
    margin-top: 0;
    color: #4dabff;
    margin-bottom: 15px;
}

/* UL inside the box */
#fileList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#fileList li {
    background: #111;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #ddd;
    
}

#searchBar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

#searchBar:focus {
    box-shadow: 0 0 10px #007bff;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 500px) {
    body {
        padding: 20px 10px;
    }

    form, .files-container {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    input[type="file"] {
        font-size: 14px;
    }
}


